@use "../../assets/styles/globals.scss";
@use "../../assets/styles/breakpoints.scss";

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__navbar {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid black;
    z-index: 9;
    &__container {
      padding: 0 1rem;
      margin: 0 auto;
      max-width: 1080px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      font-size: 3rem;
      color: globals.$green;
      font-family: globals.$font-family-logo;
    }

    .logo {
      img {
        width: 100%;
        max-width: 100px;
        height: 100%;

        @include breakpoints.size(m) {
          max-width: 150px;
        }
      }
    }

    &__action {
      padding: 1rem;
      font-size: 1.2rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        cursor: pointer;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 1080px;
  }
}

.modal {
  &__edit,
  &__password {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;

    &__row {
      display: flex;
      align-items: center;

      .title {
        flex: 1;
        font-weight: bold;
      }

      .desc {
        width: 100%;
        flex: 2;
      }
    }
  }
}

.modal__logout {
  padding: 4rem 0;
}
