@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Rowdies:wght@300;400;700&display=swap");
$font-family: "Plus Jakarta Sans", sans-serif;
$font-family-logo: "Patua One", serif;

$black: #0b0500;
$green: #42b549;
$yellow: #f6e27f;
$light-green: #84cb66;
$white: #ffffff;
$default-transition: 0.25s all ease-in-out;
